# Fixed requirements for CODAC Core System
iplotProcessing==0.6.0
matplotlib==3.3.3
vtk==10.0.0rc0
pandas==1.2.0
qtpy==1.9.0
# grepped from [MINT/pom.xml](https://git.iter.org/projects/VIS/repos/mint/browse/pom.xml)
# pyside2==5.14.2
pyqt5==5.15.2  # To be deprecated in favour of PySide2 where available (LGPL preferred to GPL)
pyqt5sip.version=12.8.1
